* {
    margin: 0;
    padding: 0;
    outline: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}
html,body {
    scroll-behavior: unset!important;
}
/* preloader part start */

.preloader {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 50000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    background: url(../images/source.gif) center/100% no-repeat;
    width: 150px;
    height: 250px;

}

/* preloader part end */
/* Prenav section start */

#prenav {
    background: #2D3E50;
    padding-top: 8.5px;
    padding-bottom: 12.5px;
}
#prenav a {
    font: 400 14px/30px 'Arimo', sans-serif;
    color: white;
}
#prenav a:hover {
    text-decoration: underline;
}
#prenav i {
    font-size: 14px;
    color: white;
}
#prenav .register {
    color: #FBAA33;
}

 /* Prenav section end */
 /* Navbar part start */

.navbar {
     position: sticky;
     width: 100%;
     top: 0;
     z-index: 500;
     transition: .4s;
     background: #FFFFFF;
     padding-top: 20px!important;
     padding-bottom: 30px!important;
     -webkit-transition: .4s;
     -moz-transition: .4s;
     -ms-transition: .4s;
     -o-transition: .4s;
}
.navbar .line1, .navbar .line2, .navbar .line3 {
    width: 30px;
    height: 3px;
    background: #FBAA33;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.navbar .navbar-toggler {
    box-shadow: none;
}
.navbar .line2 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.navbar .animation .line2 {
    opacity: 0;
}
.navbar .animation .line1 {
    transform: rotate(45deg);
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.navbar .animation .line3 {
    transform: rotate(-45deg);
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.nav-bar-scroll-effect {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    box-shadow: rgba(0,0,0,.1) 0 5px 10px;
}
.navbar .get-started {
     padding-left: 148px;
}
.navbar .navbar-nav {
     margin-top: 15px;
}
.navbar .nav-item {
     padding-top: 17px;
}
.navbar .nav-link {
     font: 400 16px/22px 'Arimo', sans-serif;
     color: #2D3E50;
     transition: .4s;
     padding-top: 0;
}
.active .nav-link {
    color: #FBAA33;
}
.navbar .nav-link:hover {
     color: #FBAA33 !important;
}
.navbar .get-started a {
     padding: 17.1px 19.6px 16.9px 17.4px;
     background: #FBAA33;
     border-radius: 5px;
     color: white;
}
.navbar .get-started {
     padding-top: 0;
}
.navbar .get-started a:hover {
     background: #fc9f13;
     color: white !important;
}

 /* Navbar part end */
 /* Banner part start */

#banner {
    position: relative;
}
#banner h5 {
    font: 400 40px/44px 'Arimo', sans-serif;
    color: white;
}
#banner h1 {
    font: 700 52px/58px 'Arimo', sans-serif;
    color: white;
    text-transform: uppercase;
}
#banner p {
    font: 400 14px/24px 'Arimo', sans-serif;
    color: white;
    margin-top: 16.8px;
    margin-bottom: 57.8px;
}
#banner a {
    font: 400 20px/22px 'Arimo', sans-serif;
    color: white;
    padding: 16.9px 17.8px 16.1px 18.2px;
    background: #2D3E50;
    border-radius: 5px;
    margin-right: 20px;
    display: inline-block;
}
#banner a:hover {
     background: #FBAA33;
}
#banner .right, #banner .left {
     width: 70px;
     height: 70px;
     border-radius: 50%;
     justify-content: center;
     align-items: center;
     display: flex;
     border: 1px solid white;
     color: white;
     cursor: pointer;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 50;
     transition: .4s;
}
#banner .right:hover, #banner .left:hover {
     background: #FBAA33;
     border: 1px solid #FBAA33;
}
#banner .right {
     right: 50px;
}
#banner .left {
     left: 50px;
}
#banner .info {
     background: rgba(45,62,80,.4);
}

 /* Banner part end */
 /* Service-item part start */

#service-item {
    margin-top: -95px;
}
#service-item .service-item-part {
     background: #F5F5F5;
     border: 1px solid #DDDDDD;
     padding-top: 30px;
     padding-bottom: 25.7px;
     position: relative;
     transition: .4s box-shadow;
     -webkit-transition: .4s box-shadow;
     -moz-transition: .4s box-shadow;
     -ms-transition: .4s box-shadow;
     -o-transition: .4s box-shadow;
}
#service-item .service-item-part:hover {
    box-shadow:  0 7px 30px -10px rgba(0,0,0,.2);
    /* box-shadow: 0 16px 6px -6px black; */
}
#service-item .service-item-part h5 {
    font: 400 24px/27px 'Arimo', sans-serif;
    margin-top: 16.3px;
}
#service-item .service-item-part a {
    font: 400 14px/19px 'Arimo', sans-serif;
    color: #444444;
}
#service-item .service-item-part a:hover {
    color: #FBAA33;
}

/* Service-item part end */
/* About-us part start */

#about-us {
    padding-top: 104.6px;
}
.section-header {
    padding-bottom: 70.2px;
}
.section-header h2 {
    color: #2D3E50;
    font: 700 32px/36px 'Arimo', sans-serif;
}
.section-header p {
    color: #666666;
    font: 400 14px/24px 'Arimo', sans-serif;
}
#about-us .large-line {
    width: 360px;
    height: 3px;
    border-radius: 1.5px;
    background: #FBAA33;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}
#about-us .small-line {
    width: 7px;
    height: 3px;
    border-radius: 1.5px;
    background: #FBAA33;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}
#about-us .line2 .small-line, #about-us .line2 .large-line {
    background: #2D3E50;
}
#about-us .about-us-slider {
    padding-top: 5px;
    padding-bottom: 5px;
}
#about-us .slick-slider,
#faq .faq-slider-main .slick-slider {
    margin-left: -12%;
    margin-right: -12%;
}

#about-us .slick-list {
    padding-left: 15%!important;
    padding-right: 15%!important;
}
#faq .faq-slider-main .slick-list {
    padding-left: 8%!important;
    padding-right: 8%!important;
}
#about-us .slick-dots {
    text-align: right;
    position: absolute;
    bottom: 0;
    padding-left: 0 !important;
    justify-content: start;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#about-us .slick-dots li button {
    color: transparent;
    background: #666666;
    border: none;
    outline: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    transition: .4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#about-us .slick-dots .slick-active button {
    background: #FBAA33;
}
#about-us .slick-track,
#faq .faq-slider-main .slick-track {
    max-width: 100%!important;
    transform: translate3d(0, 0, 0)!important;
    perspective: 100px;
    -webkit-transform: translate3d(0, 0, 0)!important;
    -moz-transform: translate3d(0, 0, 0)!important;
    -ms-transform: translate3d(0, 0, 0)!important;
    -o-transform: translate3d(0, 0, 0)!important;
}

#about-us .slick-slide,
#faq .faq-slider-main .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%!important;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, opacity 1s;
}

#about-us .slick-snext,
#about-us .slick-sprev,
#about-us .slick-snext2,
#about-us .slick-sprev2,
#faq .faq-slider-main .slick-snext,
#faq .faq-slider-main .slick-sprev,
#faq .faq-slider-main .slick-snext2,
#faq .faq-slider-main .slick-sprev2 {
    display: block;
}

#about-us .slick-current,
#faq .faq-slider-main .slick-current {
    opacity: 1;
    position: relative;
    display: block;
    z-index: 2;
}

#about-us .slick-snext,
#faq .faq-slider-main .slick-snext {
    opacity: 1;
    transform: translate3d(10%, 0, -10px);
    z-index: 1;
    perspective: 1000px;
}
#about-us .slick-snext2,
#faq .faq-slider-main .slick-snext2 {
    opacity: 1;
    transform: translate3d(20%, 0, -20px);
    z-index: 0;
    perspective: 1000px;
}

#about-us .slick-sprev,
#faq .faq-slider-main .slick-sprev {
    opacity: 1;
    transform: translate3d(-10%, 0, -10px);
}

#about-us .slick-sprev2,
#faq .faq-slider-main .slick-sprev2 {
    opacity: 1;
    transform: translate3d(-20%, 0, -20px);
    -webkit-transform: translate3d(-20%, 0, -20px);
    -moz-transform: translate3d(-20%, 0, -20px);
    -ms-transform: translate3d(-20%, 0, -20px);
    -o-transform: translate3d(-20%, 0, -20px);
}
#about-us .about-info p {
    color: #444444;
    font: 400 14px/24px 'Arimo', sans-serif;
}
#about-us .about-info a {
    color: white;
    display: inline-block;
    padding: 16px 17px;
    background: #2D3E50;
    border-radius: 5px;
    font: 400 20px/22px 'Arimo', sans-serif;
    margin-right: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#about-us .about-info a:hover {
    background: #FBAA33;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

/* About-us part end */
/* Counter up part start */

#counter {
    margin-top: 90px;
    background: url(../images/Vector\ Smart\ Object.png)no-repeat center/cover #2D3E50;
    padding-top: 32.8px;
    padding-bottom: 40px;
}
#counter .counter {
    font: 700 40px/44px 'Arimo', sans-serif;
    color: white;
}
#counter p {
    font: 400 24px/27px 'Arimo', sans-serif;
    color: white;
    margin-top: 9px;
}
#counter .left {
    width: 50px;
    height: 3px;
    border-radius: 1.5px;
    background: #FBAA33;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}
#counter .right {
    width: 10px;
    height: 3px;
    margin-left: 7px;
    border-radius: 1.5px;
    background: #FBAA33;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}

/* Counter up part end */
/* Courses part start */

#courses {
    padding-top: 93.6px;
}
#courses .section-header {
    padding-bottom: 48.7px;
}
#courses .right-arrow, #courses .left-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2D3E50;
    color: #2D3E50;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: .4s;
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#courses .right-arrow {
    right: -120px;
}
#courses .left-arrow {
    left: -120px;
}
#courses .right-arrow:hover , #courses .left-arrow:hover {
    background: #FBAA33;
    border: 1px solid #FBAA33;
    color: white;
}
#courses .slider-item {
    background: #F5F5F5;
    padding: 20px 20px 54.9px 20px;
    position: relative;
    margin: 0 15px;
    margin-bottom: 25px;
}
#courses .slider-item:hover {
    box-shadow: 0 5px 30px rgba(0,0,0,.1) ;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#courses .slider-item:hover h4 {
    color: #FBAA33;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#courses .slider-item .image-overlay {
    background: rgba(0,0,0,.7);
    opacity: 0;
}
#courses .slider-item .image:hover .image-overlay {
    opacity: 1;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#courses .slider-item .image {
    margin-bottom: 20px;
}
#courses .slider-item .image-overlay a {
    width: 50px;
    height: 50px;
    background: #FBAA33;
    border-radius: 50%;
    color: white;
    transition: .4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#courses .slider-item .image-overlay a:hover {
    background: #2D3E50;
}
#courses .slider-item .image-overlay a:hover i {
    transition: .4s ease-in;
    -webkit-transition: .4s ease-in;
    -moz-transition: .4s ease-in;
    -ms-transition: .4s ease-in;
    -o-transition: .4s ease-in;
}
#courses .slider-item .image-overlay a:hover i {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
#courses .slider-item .info .picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#courses .info .name {
    font: 400 16px/17px 'Arimo', sans-serif;
    color: #444444;
}
#courses .info .name span {
    font: 400 13px/15px 'Arimo', sans-serif;
    color: #444444;
}
#courses .info .rat-icon i {
    font-size: 14px;
    color: #FBAA33;
}
#courses .info .ratings span {
    font: 400 13px/15px 'Arimo', sans-serif;
    color: #999999;
}
#courses .slider-item h4 {
    font: 400 24px/27px 'Arimo', sans-serif;
    color: #222222;
    margin-top: 15.6px;
}
#courses .slider-item p {
    font: 400 14px/24px 'Arimo', sans-serif;
    color: #444444;
}
#courses .slider-item .line {
    height: 1px;
    width: 100%;
    background: #DDDDDD;
    margin-bottom: 13.3px;
}
#courses .slider-item .course-info span {
    color: #999999;
    font: 400 13px/15px 'Arimo', sans-serif;
}
#courses .slider-item .course-info p {
    color: #444444;
    font: 400 13px/15px 'Arimo', sans-serif;
}
#courses .slider-item .course-info .col-lg-4 {
    padding: 0;
}
#courses .slider-item .enroll {
    padding: 18px 19.5px;
    color: white;
    background: #2D3E50;
    border-radius: 5px;
    transition: .4s;
    bottom: -25px;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
    font: 400 16px/17px 'Arimo', sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#courses .slider-item .enroll:hover {
    background: #FBAA33;
}

/* Courses part end */
/* Events part start */

#events {
    padding-top: 119.6px;
    padding-bottom: 100px;
}
#events .pb-calendar {
    padding: 56.6px 30px 17.6px 29.4px;
    background: #F5F5F5;
}
#events .pb-calendar .row {
    margin: 0 !important;
}
#events .year-month-frame {
    font: 700 20px/22px 'Arimo', sans-serif;
    color: #2D3E50;
}
#events .top-frame {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26.4px;
}
#events .top-frame a {
    color: #2D3E50;
    margin-left: 10px;
}
#events .row-dayname .col {
    text-align: center;
    font: 400 16px/17px 'Arimo', sans-serif;
    color: #2D3E50;
    padding: 22px 0;
    background: #FFFFFF;
    border-right: 1px solid #DDDDDD;
}
#events .row-dayname .col:last-child {
    border-right: 1px solid #FFFFFF;
}
#events .row-day {
    border-top: 1px solid #DDDDDD;
}
#events .row-day .col {
    text-align: center;
    font: 400 20px/22px 'Arimo', sans-serif;
    color: #2D3E50;
    padding: 22px 0;
    background: #FFFFFF;
    border-right: 1px solid #DDDDDD;
}
#events .row-day .col:last-child {
    border-right: 1px solid #FFFFFF;
}
#events .row-day .before-month {
    color: #FFFFFF;
    cursor: default;
}
#events .row-day .after-month {
    color: #FFFFFF;
    cursor: default;
}
#events .row-day {
    position: relative;
}
#events .color-map {
    padding-top: 16.4px;
    font: 400 14px/19px 'Arimo', sans-serif;
    display: flex;
    justify-content: start;
    color: #2D3E50;
}
#events .color-map i {
    margin-right: 10px;
    color: #FF3232;
}
#events .color-map .green-map {
    margin-left: 40px;
}
#events .color-map .green-map i {
    color: #3D7E34;
}
#events .slider-wrap {
    padding: 20px 30px 20px 20px;
    background: #F5F5F5;
    display: flex;
    justify-content: start;
}
#events .slider-item {
    transition: .4s;
    margin: 0 0 15px 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#events .slider-item:hover {
    box-shadow: rgba(45,62,80,.1) 0 3px 10px;
}
#events .slider-item:hover .heading {
    color: #FBAA33;
}
#events .slider-item:hover .button {
    background: #FBAA33;
}
#events .slider-item:hover i {
    color: #FBAA33;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#events .slider-wrap .heading {
    font: 700 20px/30px 'Arimo', sans-serif;
    color: #2D3E50;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#events .slider-wrap .heading:hover {
    color: #fc9f13;
}
#events .slider-wrap .p {
    font: 400 14px/24px 'Arimo', sans-serif;
    color: #444444;
}
#events .slider-wrap span {
    font: 400 14px/24px 'Arimo', sans-serif;
    color: #444444;
    margin-right: 20px;
}
#events .slider-wrap i {
    font: 400 14px/24px;
    color: #2D3E50;
    margin-right: 5px;
}
#events .slider-wrap .button {
    padding: 14px 19px;
    background: #2D3E50;
    color: white;
    display: inline-block;
    margin-top: 11%;
    border-radius: 3px;
    transition: .4s;
    font: 400 16px/17px 'Arimo', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#events .slider-wrap .button:hover {
    background: #fc9f13;
}
#events .slider-wrap .overlay {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
}
#events .slider-wrap .overlay span {
    margin: 0;
    font: 700 16px/18px 'Arimo', sans-serif;
    color: white;
}
#events .slider-wrap .red-warning.overlay {
    background: #FF3232;
}
#events .slider-wrap .green-warning.overlay {
    background: #3D7E34;
}

/* Events part end */
/* Faq part start */

#faq {
    padding-top: 54.6px;
    padding-bottom: 60px;
    background: #F5F5F5;
}
/* 3d slider in about us section */
#faq .faq-sub-slider-main p {
    font: 400 14px/24px 'Arimo', sans-serif;
    color: #444444;
}
#faq .faq-sub-slider-main h5 {
    font: 700 20px/22px 'Arimo', sans-serif;
    color: #444444;
}
#faq .faq-sub-slider-main h5 span {
    font: 400 14px/22px 'Arimo', sans-serif;
    color: #444444;
}
#faq .faq-sub-slider-main i {
    font-size: 16px;
    color: #FBAA33;
}
#faq .line1 .large, #faq .line2 .large {
    width: 210px;
    height: 3px;
    border-radius: 1.5px;
    background: #FBAA33;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}
#faq .line1 .small, #faq .line2 .small {
    width: 7px;
    height: 3px;
    border-radius: 1.5px;
    background: #FBAA33;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}
#faq .line2 .small, #faq .line2 .large {
    background: #2D3E50;
}
#faq .right, #faq .left {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2D3E50;
    color: white;
    transition: .4s;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#faq .right:hover, #faq .left:hover {
    background: #FBAA33;
}
#faq .arrow {
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
#faq .accordion-item {
    background: #FFFFFF;
    margin-bottom: 20px;
    color: #444444;
    box-shadow: rgba(0,0,0,.04) 0 15px 30px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#faq .accordion-item .accordion-btn {
    border: none;
    background: none;
    color: #444444;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#faq .accordion-item-head {
    font: 400 20px/22px 'Arimo', sans-serif;
    padding: 12px 20px 16px 20px;
    display: flex;
    justify-content: space-between;
    background: #FBAA33;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#faq .accordion-collapse {
    border: none;
}
#faq .btn-rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
#faq .accordion-body p {
    font: 400 14px/24px 'Arimo', sans-serif;
}

/* Faq part end */
/* teachers part start */

#teachers {
    padding-top: 96.4px;
    margin-bottom: 185px;
}
#teachers .image-info {
    padding-top: 17px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#teachers .teachers-item:hover .image-info {
    padding-top: 37px;
}
#teachers .image .icon {
    bottom: 0px;
    transform: translateX(-50%);
    transition: .4s;
    opacity: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#teachers .teachers-item:hover .icon {
    bottom: -20px;
    opacity: 1;
    z-index: 50;
}
#teachers .image .icon a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #2D3E50;
    color: #FFFFFF;
    display: flex;
    transition: .4s;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#teachers .image .icon a:hover {
    background: #FBAA33;
}
#teachers .image-info a {
    font: 700 20px/22px 'Arimo', sans-serif;
    color: #444444;
}
#teachers .image-info a:hover {
    color: #FBAA33;
}
#teachers .image-info p {
    font: 400 16px/17px 'Arimo', sans-serif;
    color: #444444;
    padding-top: 10px;
    padding-bottom: 16px;
}
#teachers .image-info .line .large {
    width: 50px;
    height: 3px;
    background: #FBAA33;
    border-radius: 1.5px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}
#teachers .image-info .line .small {
    width: 10px;
    margin-left: 7px;
    height: 3px;
    background: #FBAA33;
    border-radius: 1.5px;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}

/* teachers part end */
/* blogs part start */

#blogs {
    padding-bottom: 100px;
}
#blogs .blog-header {
    background: url(../images/blogs-background.png)#2D3E50;
    padding-top: 24.6px;
    padding-bottom: 190px;
}
#blogs .section-header {
    padding-bottom: 0;
}
#blogs .section-header h2 {
    color: white;
}
#blogs .section-header p {
    color: white;
}
#blogs .icon {
    right: 20px;
    top: 40px;
}
#blogs .icon a {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background: #2D3E50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#blogs .icon a:hover {
    background: #FBAA33;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#blogs .large .info {
    padding: 43px 30px 25px 30px;
}
#blogs .small .info {
    padding: 43px 10px 10px 10px;
}
#blogs .info {
    background: rgba(0,0,0,.75);
    bottom: -53px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#blogs .small .info {
    bottom: -40px;
}
#blogs .image:hover .info {
    bottom: 0px;
}
#blogs .blog-container {
    margin-top: -128px;
}
#blogs .large .info h5 {
    font: 400 20px/22px 'Arimo', sans-serif;
    color: white;
}
#blogs .small .info h5 {
    font: 400 16px/30px 'Arimo', sans-serif;
    color: white;
}
#blogs .info a {
    font: 400 13px/15px 'Arimo', sans-serif;
    color: white;
}
#blogs .info a:hover {
    text-decoration: underline;
}
#blogs .info .date p {
    font: 400 13px/17px 'Arimo', sans-serif;
    color: white;
}
#blogs .info span {
    font: 400 13px/17px 'Arimo', sans-serif;
    color: white;
}
#blogs .info i {
    font-size: 13px;
    line-height: 17px;
    color: white;
    margin-right: 5px;
}
/* blogs part end */
/* Footer part start */

#footer .main-footer {
    background: url(../images/footer-background.png) #2D3E50;
    padding-top: 30px;
    padding-bottom: 60px;
}
#footer p {
    font: 400 14px/24px 'Arimo', sans-serif;
    color: white;
}
#footer .icon a {
    width: 40px;
    height: 40px;
    display: flex;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: #2D3E50;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#footer .icon a:hover {
    color: white;
    background: #FBAA33;
}
#footer h2 {
    font: 700 20px/22px 'Arimo', sans-serif;
    color: white;

}
#footer li a {
    font: 400 16px/20px 'Arimo', sans-serif;
    color: white;
}
#footer li a:hover {
    color: #FBAA33;
}
#footer li {
    margin-bottom: 30px;
}
#footer .contact-info .icon {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: #2D3E50;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#footer .contact-info h6 {
    font: 400 14px/16px 'Arimo', sans-serif;
    color: #FBAA33;
}
#footer .contact-info p, #footer .contact-info a, #footer .contact-info span {
    font: 400 16px/24px 'Arimo', sans-serif;
    color: white;
}
#footer .contact-info a:hover {
    text-decoration: underline;
}
#footer .insta-link a {
    font: 400 16px/17px 'Arimo', sans-serif;
    color: #2D3E50;
    padding: 13px 20px;
    display: inline-block;
    background: white;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#footer .insta-link a:hover {
    background: #FBAA33;
    color: white;
}
#footer .insta-link:hover a {
    opacity: 1;
}
#footer .copyright {
    background: #2D3E50;
    padding: 13px 0;
}
#footer .copyright p {
    color: white;
}
#footer .copyright span {
    color: #FBAA33;
}

/* Footer part end */
/* Back to top part start */

.back-to-top {
    width: 50px;
    height: 50px;
    background: #FBAA33;
    color: white;
    display: flex;
    transition: .4s, 1s bottom;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .4s, 1s bottom;
    -moz-transition: .4s, 1s bottom;
    -ms-transition: .4s, 1s bottom;
    -o-transition: .4s, 1s bottom;
}
.back-to-top:hover {
    border-radius: 50% 50% 5px 5px;
    -webkit-border-radius: 50% 50% 5px 5px;
    -moz-border-radius: 50% 50% 5px 5px;
    -ms-border-radius: 50% 50% 5px 5px;
    -o-border-radius: 50% 50% 5px 5px;
}
.back-to-top i {
    margin-top: -5px;
}
.back-to-top-animation {
    bottom: -70px !important;
}

/* Back to top part end */